In [3]:
from tqdm import tqdm
from dumper.utils import gsheet_to_df

In [4]:
df = gsheet_to_df("1MnS_eJbPNLzXp4YkS5I9Xkhv2GVPbYtrFiQjJla5rJE")

200

In [5]:
df

,id,name,duplicates,duplicate,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,90,Schriftsteller/Schriftstellerin,2134|2217|3130|3182|3421|3423,2134.0,2217.0,3130.0,3182.0,3421.0,3423.0
1,94,Notar/Notarin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95,Politiker/Politikerin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,97,Mediziner/Medizinerin,3116|3236,3116.0,3236.0,NaN,NaN,NaN,NaN
4,99,Journalist/Journalistin,2098|2246|3120|3281,2098.0,2246.0,3120.0,3281.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1562,3453,Hoteldirektor/Hoteldirektorin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1563,3454,Stimmbildner/Stimmbildnerin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1564,3455,Opernsänger/Opernsängerin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1565,3456,Mezzosopranist/Mezzosopranistin,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1566,3457,Gesangslehrer/Gesangslehrerin,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for i, row in tqdm(df.iterrows()):
    try:
        pl = ProfessionType.objects.get(id=row["id"])
    except:
        print(i)
        continue
    name = row["name"]
    pl.name = name
    pl.save()

750it [00:06, 122.61it/s]

732

1567it [00:12, 124.03it/s]

In [11]:
for i, row in df.iterrows():
    if isinstance(row["duplicates"], str):
        pl = ProfessionType.objects.get(id=row["id"])
        ids = [int(x) for x in row["duplicates"].split('|')]
        for x in ids:
            persons = Person.objects.filter(profession__in=ids)
            to_del = TempEntityClass.objects.get(id=x)
            for y in persons:
                y.profession.add(pl)

IntegrityError: update or delete on table "apis_entities_person" violates foreign key constraint "apis_relations_perso_related_person_id_b22f721a_fk_apis_enti" on table "apis_relations_personevent"
DETAIL:  Key (tempentityclass_ptr_id)=(3130) is still referenced from table "apis_relations_personevent".

In [9]:
TempEntityClass.objects.get(id=2134)

In [ ]:
persons.first().profession.add(pl)